@import "./variable";
@import "./mixin.scss";

//content
.app__main-content {
  padding-bottom: 50px;
  width: 660px;
  max-width: 100%;
  @include Responsive(SM) {
    width: auto;
    margin: 0 auto;
    padding: 0 20px;
  }
  @include Responsive(XS) {
    display: none;
  }
  &-title {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
  }
  &-text {
    text-align: justify;
    font-size: 15px;
    font-weight: 400;
    padding: 10px 0;
  }
  div {
    text-align: center;
    .app__main-content-button {
      text-decoration: none;
      background: #42659d;
      padding: 8px 12px;
      border-radius: 2px;
      color: white;
      font-weight: 500;
      display: inline-block;
      &:hover {
        opacity: 0.6;
      }
    }
  }
}
